<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>{{ titulo }}</title>
</head>

<body>
    <div class="container">
        <h1>{{ titulo }}</h1>
        <table class="table table-bordered table-responsive table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Alimento</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for alimento in alimentos %}
                <tr>
                    <td>{{ alimento.nome }}</td>
                    <td>{{ alimento.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('new') }}">
            <button class="btn btn-primary btn-salvar">Cadastrar alimento</button>
        </a>
    </div>
</body>

</html>